#footer {
  /*padding: var(--spacing-lg) 0;*/

  background-image: url("../img/Background_Contacts.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 10rem;
  padding-inline: 2rem;

  & .footer-content {
    & p:nth-child(1) {
      margin-bottom: 8px;
    }

    & h2 {
      margin-bottom: 8px;
      font: var(--title-md);
    }

    & p {
      margin-bottom: 48px;
    }
  }

  & ul {
    max-width: 420px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 1rem;
    justify-items: center;

    & li {
      max-width: 420px;
      background-color: var(--gray-400);
      border-radius: 10px;
      transition: scale 350ms;

      &:hover {
        scale: 1.1;
        border: 1px solid var(--lime);

        & span {
          color: var(--lime);
        }
      }

      & a {
        padding: 20px;
        display: flex;
        align-items: center;
        gap: 8px;

        /*justify-content: space-between;*/
        & .icon-mail {
          height: 32px;
          width: 32px;
          background-image: url("../icons/EnvelopeSimple.svg");
          transition: background-image 0.3s;
        }

        & .icon-instagram {
          height: 32px;
          width: 32px;
          background-image: url("../icons/InstagramLogo.svg");
          transition: background-image 0.3s;
        }

        & .icon-github {
          height: 32px;
          width: 32px;
          background-image: url("../icons/GitHub.svg");
          transition: background-image 0.3s;
        }

        & .icon-linkedeen {
          height: 32px;
          width: 32px;
          background-image: url("../icons/LinkedinLogo.svg");
          transition: background-image 0.3s;
        }

        & .external-icon {
          height: 20px;
          width: 20px;
          margin-left: auto;
          background-image: url("../icons/ArrowUpRight.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          transition: background-image 0.3s;
        }

        &:hover {
          & .icon-instagram {
            background-image: url("../icons/InstagramLogoHover.svg");
          }

          & .icon-linkedeen {
            background-image: url("../icons/LinkedinLogoHover.svg");
          }

          & .icon-github {
            background-image: url("../icons/GitHubHover.svg");
          }

          & .icon-mail {
            background-image: url("../icons/EnvelopeSimpleHover.svg");
          }

          & .external-icon {
            background-image: url("../icons/ArrowUpRightHover.svg");
          }
        }
      }
    }
  }

  & a {
    font: var(--text-md);
    color: var(--gray-200);
  }
}

@media (width <= 480px) {
  #footer {
    & ul {
      max-width: 350px;
    }
  }
}
