.flex {
  display: flex;
}

.flex-justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-align-end {
  align-items: flex-end;
}

.gap-1 {
  gap: 1rem;
}

.gap-0\.5 {
  gap: 0.5rem;
}

.gap-1\.5 {
  gap: 1.5rem;
}

.tech-item {
  display: flex;
  align-items: center;
  justify-items: center;
}

.strong {
  color: var(--red);
}

.text-center {
  text-align: center;
}

.margin-inline-auto {
  margin-inline: auto;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
